<!DOCTYPE html>
<html>
  <head>
    <base href="@(Url.Content("~/"))" />
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    @Html.Raw(ViewData["Styles"])

  </head>
  <body>
    @RenderBody()

    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    @RenderSection("scripts", required: false)

  </body>
</html>
